.R*
.idea/
results/
*/__pycache__/
scripts/__pycache__/
misc_code/
.Rproj.user
data/
.snakemake/
TimeAdapt.Rproj
dag.svg
test*.sh
timeadapt.tar.gz
slurm/*
run_on_UPPMAX.txt
venv/*
*.html
afforestation.done
