.R*
.idea/
results/
intermediate_files/
*/__pycache__/
scripts/__pycache__/
misc_code/Old/__pycache__/
misc_code/previous_version/python/__pycache__/
data/hapmap
data/hapmap/*
.Rproj.user
src/Old/*
data/Old/*
README.html
.snakemake/
timeadaptenv.yml
TimeAdapt.Rproj
dag.svg
test*.sh
timeadapt.tar.gz
slurm/*
run_on_UPPMAX.txt
venv/*
TODO.html
