initialize() {
	setSeed(1234567890);
	initializeSLiMOptions(keepPedigrees=T);
	initializeMutationRate(0.0);
	initializeMutationType("m1", 0.5, "f", 0.0);
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElement(g1, 0, 50000000);
	initializeRecombinationRate(1e-8);
	initializeTreeSeq();
}
1 early() {
	
	sim.addSubpop("p1", 2000);
	
}

// Solution by Vitor Pavinato:
1:400 late() {
	parents = unique(sim.subpopulations.individuals.pedigreeParentIDs);
	k = sapply(parents, "sum(sim.subpopulations.individuals.pedigreeParentIDs == applyValue);");
	prob = k/p1.individualCount;
	pIBD = sum(prob*prob*0.25);
	writeFile(filePath="results/Eidos_pIBD.txt", contents=paste(pIBD), append=T);
}

// Calling R seems 10x faster:	
1:400 late() {
	system("R", args=paste0(c("-e ","'parentID<-c(", paste(sim.subpopulations.individuals.pedigreeParentIDs,sep=", ") , ");N<-",p1.individualCount,";freq <- tabulate(parentID)/N;pIBD <- sum(freq*freq*0.25);write(pIBD,\"results/R_pIBD.txt\",append=T)'")) );
}

400 late() {
	sim.treeSeqOutput(path="results/pIBDtest.tree");
	sim.simulationFinished();
}
