// run
// slim -d num_of_chr=7 src/test_recombination_map.slim

initialize() {
	if (exists("slimgui"))
	{
		setSeed(2067579950);  
		defineConstant("num_of_chr",  7);
	}

	initializeMutationRate(0.0);
	initializeMutationType("m1", 0.5, "f", 0.0);
	initializeGenomicElementType("g1", m1, 1.0);

	lines = readFile("data/recombination_map_slim.txt");
	rates = NULL;
	ends = NULL;
	for (line in lines[0:((num_of_chr-1)*2)])
	{
		components = strsplit(line, " ");
		ends = c(ends, asInteger(components[0]));
		rates = c(rates, asFloat(components[1]));
	}

	initializeGenomicElement(g1, 0, ends[(num_of_chr-1)*2]);
	initializeRecombinationRate(rates, ends);
	
	initializeTreeSeq();
}
1 early() {
	
	sim.addSubpop("p1", 200);
	
}

// FINISH BLOCK
s4 400 late() {
	sim.treeSeqRememberIndividuals(p1.sampleIndividuals(4));
	sim.treeSeqOutput(path="results/test_recombination_map.tree");
	sim.simulationFinished();
}